<div *ngIf="show" class="modal">
  <div class="modal-box">
    <div class="modal-box-header">
      <app-icon [toolTipActive]="true"
                class="back"
                name="arrowBackRound"
                toolTipText="back"
                type="none"></app-icon>
      <h3 class="title">{{title}}</h3>
      <app-icon (click)="show = false" [toolTipActive]="true"
                class="close"
                name="close"
                toolTipText="close"
                type="none"></app-icon>
    </div>
    <div class="modal-box-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-box-footer"></div>
  </div>
</div>

