@import "src/shared/styles/variables";

:host {
  position: relative;

  &:hover {
    .tooltip {
      @extend .tooltip;
      display: block;
    }
  }

  .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.1rem 0.2rem;
    background: $primary-text-color;
    color: white;
    height: max-content;
    width: max-content;

  }
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: $primary-background-color;


  &:hover {
    background: $secondary-background-color;
  }

  .active {
    background: $primary-color;
  }
}

.rounded {
  border-radius: 50%;
}

.flat {
  border-radius: 0;
  border: 1px solid black;
}

.card {
  @extend .rounded;
  background: transparent;

  &:hover {
    background: #F2F2F2;
  }
}

.none {
  border-radius: 0;
  background: transparent;
  width: max-content;
  height: max-content;

  &:hover {
    background: transparent;
  }
}
