<div *ngIf="profile" class="row">
  <app-avatar [img]="profile?.avatar"
              [shape]="'rounded'"
              [size]="40"></app-avatar>
  <small class="username bold">{{profile.user.firstName + " " + profile.user.lastName}}</small>
  <ng-container *ngIf="hasVisibility">

    <app-button [kind]="'rounded'"
                [label]="iconComponent.toolTipText"
                [type]="'button'">
      <app-icon #iconComponent [iconSize]="20"
                [name]="'private'"
                [size]="10"
                [toolTipActive]="true"
                [toolTipText]="'private'"
                [type]="'none'"></app-icon>
    </app-button>
  </ng-container>
</div>
