@import "variables";
@import "utils";

.story-form {
  margin: 1rem auto;
  width: 600px;
  min-height: 50px;
  border-radius: 5px;
  box-shadow: 0 0 3px $secondary-shadow-color;
  background: white;
  @extend .row;
  justify-content: space-evenly;
  overflow: hidden;
}
