@import "variables";

span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: $primary-background-color;

  &:hover {
    background: $secondary-background-color;
  }

  .active {
    background: $primary-color;
  }
}

.rounded {
  border-radius: 50%;
}

.flat {
  border-radius: 0;
  border: 1px solid black;
}

.none {
  border-radius: 0;
  background: transparent;
  width: max-content;
  height: max-content;

  &:hover {
    background: transparent;
  }
}
