<div *ngIf="(profile$ | async) as profile" class="card-form">
  <div class="card-form__create_post_form">
    <app-avatar [img]="profile?.avatar"
                [shape]="'rounded'"
                [size]="40"></app-avatar>
    <div [attr.placeholder]="getPlaceholder(profile?.user?.username)" class="dummy-input"></div>
  </div>
  <div class="horizontal"></div>
  <div class="card-form__create_post_form__actions">
    <app-button class="column" kind="transparent" label="video">
      <app-icon [iconSize]="25"
                [name]="'video'"
                [size]="30"
                [type]="'none'"></app-icon>
    </app-button>

    <app-button class="column" kind="transparent" label="image/story">
      <app-icon [iconSize]="25"
                [name]="'image'"
                [size]="30"
                [type]="'none'"></app-icon>
    </app-button>

    <app-button class="column" kind="transparent" label="feelings/birthday">
      <app-icon [iconSize]="25"
                [name]="'feeling'"
                [size]="30"
                [type]="'none'"></app-icon>
    </app-button>
  </div>
</div>
