<div *ngIf="(profile$ | async) as profile" class="card-form">
  <div class="card-form__create_post_form">
    <app-avatar [img]="profile?.avatar" [shape]="'rounded'" [size]="40"></app-avatar>
    <div (click)="openModal(modalComponent)"
         [attr.placeholder]="getPlaceHolder(profile?.user?.username)"
         class="dummy-input"></div>
  </div>
  <div class="horizontal"></div>
  <div class="card-form__create_post_form__actions">
    <app-button class="column" kind="transparent bold" label="live video">
      <app-icon [iconSize]="25" [name]="'video'" [size]="30" [type]="'none'" class="live-video"></app-icon>
    </app-button>
    <app-button class="column" kind="transparent bold" label="image/story">
      <app-icon [iconSize]="25" [name]="'image'"
                [size]="30"
                [type]="'none'"
                class="image"></app-icon>
    </app-button>
    <app-button class="column" kind="transparent bold" label="feelings/birthday">
      <app-icon [iconSize]="25" [name]="'feeling'"
                [size]="30"
                [type]="'none'"
                class="feeling"></app-icon>
    </app-button>
  </div>

  <app-modal #modalComponent>
    <div class="column">
      <app-avatar [img]="profile?.avatar" [shape]="'rounded'" [size]="40"></app-avatar>
    </div>
  </app-modal>

</div>

