<div *ngIf="(profile$ | async) as profile" class="card-form">
  <div class="card-form__create_post_form">
    <app-avatar [img]="profile?.avatar" [shape]="'rounded'" [size]="40"></app-avatar>
    <div class="dummy-input"
         [attr.placeholder]="getPlaceHolder(profile?.user?.username)"
         (click)="openModal(modalComponent)"></div>
  </div>
  <div class="horizontal"></div>
  <div class="card-form__create_post_form__actions">
    <app-button class="column" kind="transparent bold" label="live video">
      <app-icon class="live-video" [iconSize]="25" [name]="'video'" [size]="30" [type]="'none'"></app-icon>
    </app-button>
    <app-button class="column" kind="transparent bold" label="image/story">
      <app-icon class="image" [iconSize]="25"
                [name]="'image'"
                [size]="30"
                [type]="'none'"></app-icon>
    </app-button>
    <app-button class="column" kind="transparent bold" label="feelings/birthday">
      <app-icon class="feeling" [iconSize]="25"
                [name]="'feeling'"
                [size]="30"
                [type]="'none'"></app-icon>
    </app-button>
  </div>

  <app-modal #modalComponent>
    <div class="column">
      <app-avatar [img]="profile?.avatar" [shape]="'rounded'" [size]="40"></app-avatar>
    </div>
  </app-modal>

</div>

