@import "utils";

.nav-bar {
  width: 100%;
  background: white;
  box-shadow: 2px 2px 2px $primary-shadow-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5vh 2vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .nav-logo {
    font-weight: bolder;
    color: $primary-color;
    font-size: x-large;
    font-family: 'Telex', sans-serif !important;
    letter-spacing: 1px;
    flex: 1;
    justify-content: flex-start;
    cursor: pointer;
  }

  .nav-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    flex: 1;
  }

  .nav-user-action {
    width: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1;

    .nav-user-action__item {
      margin: 0 0.1rem;
    }
  }
}

.icon-round {
  border-radius: 50%;
  border: 1px solid black;
}
