<nav *ngIf="profile" class="nav-bar">
  <div class="nav-logo" routerLink="">{{appName.toUpperCase()}}</div>
  <div (clickOutside)="search_bar_result.showDefaultMessage = false"
       appClickOutside class="nav-search">
    <app-search-bar (click)="search_bar_result.showDefaultMessage=true"
                    (keysUpEvent)="getResult($event,search_bar_result)"></app-search-bar>
    <app-drop-down-box #search_bar_result>
      <ul class="list">
        <li *ngFor="let i of [1,2,3,4,5]">{{i}}</li>
      </ul>
    </app-drop-down-box>
  </div>

  <div class="nav-user-action">
    <app-icon (click)="alert($event)" [name]="'message'"
              [size]="40"
              [type]="'rounded'"
              class="nav-user-action__item"></app-icon>
    <app-icon (click)="alert($event)" [name]="'bell'"
              [size]="40"
              [type]="'rounded'"
              class="nav-user-action__item"></app-icon>
    <app-avatar [img]="profile.avatar" [shape]="'rounded'"
                [size]="40"
                class="nav-user-action__item"></app-avatar>
  </div>
</nav>
