<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<main>
    <h1>Create user</h1>
    <form method="post" th:action="@{/idp/register}" th:object="${formData}">
        <div>
            <label for="givenName">Given name</label>
            <input id="givenName" th:field="*{username}"
                   type="text">
            <p th:if="${#fields.hasErrors('username')}"
               th:text="${#strings.listJoin(#fields.errors('username'), ', ')}"></p>
        </div>
        <div>
            <label for="familyName">Family name</label>
            <input id="familyName" th:field="*{email}"
                   type="text">
            <p th:if="${#fields.hasErrors('email')}"
               th:text="${#strings.listJoin(#fields.errors('email'), ', ')}"></p>
        </div>
        <button type="submit">Create user</button>
    </form>
</main>

</body>
</html>