<div [style.grid-template-columns]="'repeat(2, 1fr)'" class="grid-container">
  <ng-container *ngFor="let attachment of attachments">
    <ng-container *ngIf="attachment as image">
      <div *ngIf="isImage(attachment.contentType)" class="grid-item">
        <img [alt]="image.name"
             [src]="image.name | src: image.etag | async"
             appImgFallback>
      </div>
    </ng-container>
    <div *ngIf="isVideo(attachment.contentType)" class="grid-item">
      <video
        [src]="attachment.name | src: attachment.etag | async"
        controls>
      </video>
    </div>
  </ng-container>

</div>
