<div [style.grid-template-columns]="attachments.length > 1 ? 'repeat(2, 1fr)': 'repeat(1, 1fr)'"
     class="container">
  <ng-container *ngFor="let attachment of attachments">
    <ng-container *ngIf="attachment as image">
      <div *ngIf="isImage(attachment.contentType)" class="item">
        <img [alt]="image.name"
             [src]="image.name | src: image.etag | async"
             appImgFallback>
      </div>
    </ng-container>
    <div *ngIf="isVideo(attachment.contentType)" class="item">
      <video
        #videoElement
        (visible)="autoPlayVideo($event, videoElement)"
        [muted]="true"
        [src]="attachment.name | src: attachment.etag | async"
        [controls]="isControlsActive"
        trackVisibility>
      </video>
    </div>
  </ng-container>

</div>
