<div *ngFor="let comment of (comments$ | async)" class="comment">
  <div class="header">
    <div class="row">
      <app-avatar [img]="comment.profile.avatar" [shape]="'rounded'" [size]="40"></app-avatar>
      <div class="user">{{comment.profile.user.username}}</div>
    </div>

  </div>
  <div class="content">{{ comment.content }}</div>
  <div *ngIf="comment.attachments.length > 0" class="attachments"></div>
</div>
<div class="row flex-centered ">
  <div (click)="this.pageSubject.next(pageSubject.getValue() + 1)"
       *ngIf="!isLast && !isLoading"
       class="load-more"
       role="button">load more
  </div>

  <ng-content></ng-content>
</div>


