$primary-color: #1877F2;
// text
$primary-text-color: #212121;
$secondary-text-color: #0b0121;
$primary-text-light-color: rgba(33, 33, 33, 0.7);
$secondary-text-light-color: rgba(11, 1, 33, 0.7);
// shadows
$primary-shadow-color: #0000000C;
$secondary-shadow-color: #00000025;

// inputs
$input-primary-background-color: #F0F2F5;
$input-secondary-background-color: #E4E6E9;

// background boxes
$primary-background-color: #D8DADF;
$secondary-background-color: #CED0D5;
