<div class="card">
  <div class="card-header">
    <div class="card-header__details">
      <app-avatar [img]="post?.owner?.avatar" [shape]="'rounded'" [size]="40"></app-avatar>
      <div class="card-header__details__userInfo">
        <h5 class="username">{{post.owner.user.firstName + " " + post.owner.user.lastName }}</h5>
        <span class="card-header__details_postInfo">
            <small class="createdAt">{{getDate(post.createdAt)}}</small>
          <app-icon
            [name]="getVisibilityIcon(post.visibility)"
            [size]="10"
            [type]="'none'"
            style="margin-left: 3px"></app-icon>
        </span>

      </div>
    </div>
    <div class="card-header__actions">
      <app-icon [name]="'dotsHorizontal'" [size]="40"
                [type]="'card'"></app-icon>
      <app-icon *ngIf="true" [name]="'close'"
                [size]="40"
                [toolTipActive]="true"
                [type]="'card'"
                toolTipText="close"></app-icon>
    </div>
  </div>
  <div class="card-body">
    <p class="card-body__content">{{ shouldShowMore ? post.content : post.content | truncate:[200, '...']  }}</p>
    <p (click)="toggle()"
       class="card-body__content__more">{{ shouldShowMore ? 'show less' : 'show more' }}</p>
    <img [alt]="post.attachments[0].name" [src]="post.attachments[0].name | src: post.attachments[0].etag | async"
         appImgFallback/>
  </div>
  <div class="card-footer">
    <div class="card-footer-header">
      <div class="card-footer-header__details">
        <div class="card-footer-header__details__reactions"></div>
        <div class="card-footer-header__details__share"><small>share 1220k</small></div>
      </div>
      <div class="card-footer-header__actions">
        <app-icon [iconSize]="25"
                  [name]="'like'"
                  [size]="30"
                  [toolTipActive]="true"
                  [toolTipText]="'like'"
                  [type]="'none'"></app-icon>
        <app-icon *ngIf="true"
                  [iconSize]="25"
                  [name]="'comment'"
                  [size]="30"
                  [toolTipActive]="true"
                  [toolTipText]="'comment'"
                  [type]="'none'"></app-icon>
        <app-icon *ngIf="true"
                  [iconSize]="25"
                  [name]="'share'"
                  [size]="30"
                  [toolTipActive]="true"
                  [toolTipText]="'share'"
                  [type]="'none'"></app-icon>
      </div>
    </div>
    <div class="card-footer-body"></div>
    <div class="card-footer-footer"></div>
  </div>
</div>
