@import "variables";
@import "utils";

.btn {
  @extend .row;
  border: none;
  outline: none;
  background: none;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  height: max-content;
  width: 100%;
  cursor: pointer;
  text-transform: capitalize;

}

.flat {
  @extend .btn;
  border: 1px solid $secondary-background-color;

}

.rounded {
  @extend .btn;
  border-radius: 5px;
}

.transparent {
  @extend .btn;
}
