<nav class="nav-bar">
  <div class="logo">{{logo}}</div>
  <div class="user-profile">
    <div *ngIf="(profile$ | async) as profile" class="avatar">
      <img [alt]="profile.avatar" [src]="profile.avatar" [srcset]="profile.avatar">
      <span class="username">{{profile.user.firstName + " " + profile.user.lastName}}</span>
    </div>
    <app-icon [icon]="'heroMessage'" [rounded]="'full'" [size]="30"></app-icon>
    <app-icon [icon]="'heroBell'" [rounded]="'full'" [size]="30"></app-icon>
    <app-icon [icon]="'heroSettings'" [rounded]="'full'" [size]="30"></app-icon>
    <app-icon [icon]="'heroMoon'" [rounded]="'full'" [size]="30"></app-icon>
  </div>
</nav>
<app-form-create-post></app-form-create-post>
<div class="posts">
  <div *ngFor="let post of (posts$ | async)?.content" class="post">
    <app-view-card-post [post]="post">
    </app-view-card-post>
  </div>
</div>
