.nav-bar {
  padding: 0 2vw;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: purple;

  .logo {
    text-transform: uppercase;
  }

  .user-profile {
    padding: 0.1rem;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    background-color: #750275;

    .avatar {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
    }

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .username {
      margin: 0 0.2rem;
    }


  }
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 600px;
  margin: 0 auto;
}
