<nz-layout *ngIf="(initialState$ | async )as state ">
  <app-nav-bar></app-nav-bar>
  <nz-layout>
    <nz-sider nzWidth="max-content" style="left: 0">Sider</nz-sider>
    <nz-content>
      <div *ngFor="let post of state.posts.content" class="card">
        <div class="card-post-header">
          <div class="row">
            <nz-avatar [nzSrc]="post.profile.avatar"></nz-avatar>
            <div class="column" style="margin-left: 0.5rem; line-height: 1rem">
              <strong>{{post.profile.user.firstName + " " + post.profile.user.lastName}}</strong>
              <div class="row">
                <small style="font-style: italic;">{{post.visibility.toLocaleLowerCase()}}</small>.
                <small style="font-style: italic;">{{getDate(post.createdAt)}}</small>
              </div>
            </div>
          </div>
        </div>
        <nz-divider nzType="horizontal"></nz-divider>
        <div class="card-post-body">
          <div class="card-post-body-content">{{post.content | truncate: [180]}}</div>
          <ng-container *ngFor="let media of post.images | index : 1 | slice: 0 : 3; let i =index">
            <div *ngIf="hasContent('image', media.contentType)" class="card-post-body-media">
              <img [alt]="media.name" [src]="media.name | src: media.etag  | async" fallBack/>
            </div>
          </ng-container>
        </div>
        <div class="card-post-footer">
          <div nz-row>
            <div nz-col nzSpan="8">col-8</div>
            <div nz-col nzSpan="8">col-8</div>
            <div nz-col nzSpan="8">col-8</div>
          </div>
        </div>
      </div>
    </nz-content>
    <nz-sider nzWidth="max-content" style="right: 0">Sider</nz-sider>
  </nz-layout>
</nz-layout>






