@import "variables";
@import "utils";

img {
  object-fit: cover;
  object-position: center;
  box-shadow: 1px 1px 0 $primary-shadow-color;

  &:active {
    @extend .shadow-effect;
  }
}

.rounded {
  border-radius: 50%;
}

.flat {
  border-radius: 0;
}

.none {
}

