@import "variables";
@import "utils";

:host {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  position: relative;

  .search-input {
    background: $input-primary-background-color;
    width: 600px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 1rem 0 2.5rem;
    border-radius: 25px;
    box-shadow: 2px 2px 0 $primary-shadow-color;
    font-size: 14.5px;
    @extend .row;
    align-items: center;

    .placeholder {
      color: $secondary-text-light-color;
      font-weight: normal;
    }

    &::placeholder {
      @extend .placeholder;
    }

    &:hover {
      background: $input-secondary-background-color;
    }
  }

  .search-icon {
    position: absolute;
    opacity: 0.5;
    margin-left: 0.5rem;
  }
}
